@model List<Product>
@{
    ViewData["Title"] = "SearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resultados da busca</h2>

@if (Model.Count == 0)
{
    <p>Não há produtos cadastrados com esses filtros.</p>
}
else
{
    <table id="productsTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Empresa</th>
                <th>Nome</th>
                <th>Entrada</th>
                <th>Saída</th>
                <th>Estoque</th>
                <th>Data</th>
                <th>Adicionado via</th>
                <th>Última edição</th>
                <th>Editado via</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr onclick="location.href = '@(Url.Action("Details", "Products", new { id = product.ID }))'">
                    <td>@product.Code</td>
                    <td>@product.Company</td>
                    <td>@product.Name</td>
                    <td>@product.Income</td>
                    <td>@product.Outcome</td>
                    <td>@product.Stock</td>
                    <td>@product.DateAdded</td>
                    <td>@product.AddType</td>
                    <td>@product.LastEdit</td>
                    <td>@product.EditType</td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts{
    <environment include="Development">
        <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
        <script src="~/lib/datatables/js/dataTables.bootstrap.js"></script>
        <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap.css">
    </environment>

    <environment exclude="Development">
        <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
        <script src="~/lib/datatables/js/dataTables.bootstrap.js"></script>
        <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap.css">
    </environment>
    <script>
        $(document).ready(function () {
            $("#productsTable").DataTable();
        });
    </script>
}