@model Everis.ViewModels.SearchViewModel
@{
    ViewData["Title"] = "SearchForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Busca avançada</h2>

@using (Html.BeginForm("Search", "Products", Model))
{
    <div class="form-group">
        @Html.LabelFor(p => p.Company)
        @Html.TextBoxFor(p => p.Company, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Company)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Code)
        @Html.TextBoxFor(p => p.Code, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Code)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Income)
        @Html.TextBoxFor(p => p.Income, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Income)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Outcome)
        @Html.TextBoxFor(p => p.Outcome, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Outcome)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Stock)
        @Html.TextBoxFor(p => p.Stock, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Stock)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Name)
        @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.IncomeStart)
        @Html.TextBoxFor(p => p.IncomeStart, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.IncomeStart)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.IncomeEnd)
        @Html.TextBoxFor(p => p.IncomeEnd, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.IncomeEnd)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.OutcomeStart)
        @Html.TextBoxFor(p => p.OutcomeStart, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.OutcomeStart)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.OutcomeEnd)
        @Html.TextBoxFor(p => p.OutcomeEnd, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.OutcomeEnd)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.StockStart)
        @Html.TextBoxFor(p => p.StockStart, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.StockStart)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.StockEnd)
        @Html.TextBoxFor(p => p.StockEnd, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.StockEnd)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.AddType)
        @Html.DropDownListFor(p => p.AddType, new SelectList(Model._Types, "AddType"), "Tipo", new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.AddType)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.EditType)
        @Html.DropDownListFor(p => p.EditType, new SelectList(Model._Types, "AddType"), "Tipo", new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.EditType)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.DateAdded)
        @Html.TextBoxFor(p => p.DateAdded, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.DateAdded)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.IntervalStart)
        @Html.TextBoxFor(p => p.IntervalStart, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.IntervalStart)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.IntervalEnd)
        @Html.TextBoxFor(p => p.IntervalEnd, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.IntervalEnd)
    </div>

    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Buscar</button>
}

<environment include="Development">
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
</environment>

<environment exclude="Development">
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
</environment>

